.container {
  justify-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.svg {
  margin: 50px;
  width: 300px;
  height: 300px;
  border: 5px solid black;
}

.circle {
  fill: aqua;
  stroke: aquamarine;
  stroke-width: 5px;
  width: 300px;
  height: 300px;

  animation: pulsing 5s infinite;
}

@keyframes pulsing {
  0% {
    fill: lightcoral;
    stroke: coral;
    transform: scale(0.5, 0.5)
  }

  50% {
    fill: palevioletred;
    stroke: plum;
    transform: scale(1.0, 1.0);
  }

  100% {
    fill: rosybrown;
    stroke: rebeccapurple;
    transform: scale(0.5, 0.5);
  }
}